<%= top_title %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <div><%= post.title %></div>
      <div><%= post.body %></div>
      <% if user_signed_in? %>
        <div><%= post.user.email %></div>
      <% end %>
    </li>
  <% end %>
</ul>